/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    /* border:1px solid black; */
    /* background-color:white; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Courier Prime', monospace;

}
/*General section styles*/
h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing:3px;
    width:250px;
    font-size:50px;
    text-align:center;
    color:white;
    text-shadow:1px 1px black;
    background:transparent;
    margin-bottom:4%

}

h2{
    font-family: 'Oswald', sans-serif;
    letter-spacing:3px;
    font-size:30px;
    border:none;

}
h3{
    margin-top: 4%;
    font-family: 'Courier Prime', monospace;
    }
}
a{
    color:#4F4f4f;
    font-family: 'Courier Prime', monospace;
    text-decoration:none;
}

/*Header Section Styles*/
nav{
    display:flex;
    justify-content: space-between;
    width:100%;
    /* position:fixed; */
    background-color:rgba(255,255,255,0.8);
    margin-bottom:4%;
    font-family: 'Courier Prime', monospace;
    padding:1% 0;
}

nav a{
    text-decoration:none;
    color:black;
}

.welcome{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.links{
    width:60%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:black;
}
.container{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    width:100%;
}
.home{
    height:40vh;
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background-image: url('https://www.maketecheasier.com/assets/uploads/2018/06/code-editors-mac-featured.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align:center;
    margin-bottom:15px;
}
.projectsButton{
    border:1px solid white;
    color:white;
    padding:2px 20px;
    margin-top:4%
}

.links{
    width:60%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration:none;
    color:black;
}
button{
    background-color:transparent;
    /* border:none; */
    padding:5px;
    margin-right:5%;
    font-size:16px;
}

button:hover{
    background-color:lightcoral;
    color:black;
    cursor:pointer;
}

/*Middle Section Styles*/
.portfolioLinks{
    display:flex;
    flex-wrap:wrap;
    flex-direction:wrap;
    width:100%;
    align-items:center;
    margin:0 auto;
    background-position:center;
    /* background-size:130% 100%; */
    justify-content:center;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:250px;
    padding:10px;
    margin: 5px 2%;
    
}
img{
    width:100%
}



footer{
    background-color:lightcoral;
    height:100px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    border:1px white;
}

/* footer .button{
    border:1px white;
    padding:10px;
} */
/* .footer .button{
    align:center;
    border:1px white;
} */

/* Media Queries*/
@media(max-width:800px){
    body{
    
    }

    .portfolioLinks{
        width:100%;
        
    }
} /*this closes the 800px media query*/

/*phone*/
@media(max-width:500px){
    nav{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100%;
        /* position:fixed; */
        background-color:rgba(255,255,255,0.8);
        margin-bottom:4%;
        font-family: 'Courier Prime', monospace;
        padding:1% 0;
    }
    nav a{
        display:flex;
        flex-direction:column;
        width:20%;
        display:block;
        align-items:center;
        justify-content:center;
        
    }
    .links{
        display:flex;
        flex-direction:column;
        text-align:center;
        width:100%;
        font-size:20px;
        padding:2%;
        justify-content:space-evenly;
        
    }
    .welcome{
        width:50%;
        margin-bottom:3%;
        margin-top:2%;
    }

   /* .logo{
       width:20%;
    } */
    .links{
        width:100%;
    }
    .portfolioLinks{
        flex-direction:column;
    }
}
